*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    /* background-color: rgba(172, 170, 170, 0.219); */
}
body{
    margin: auto;
    width: 85vw;
    background-color: rgba(121, 117, 117, 0.164);
}
.peragraph{
    color: rgba(128, 128, 128, 0.699);
}
#navber{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    align-items: center;
    font-size: 35px;
}
.button{
    padding: 10px 20px;
    margin: 30px;
    border-radius: 5px;
    border-color: rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    background-color: white;
    font-size: 35px;
}
/* header section style */
#hero{
    display: flex;
    font-family: Fira Sans;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: space-between;
    padding: 40px 40px;
}
.son-father{
    text-align: start;
    font-size: 60px;
    gap: 10px;
    padding: 40px
}

.son-1-3{
    border-radius: 4px;
    background: rgb(0, 106, 80);
    padding: 10px 20px;
    color: white;
    border: 0px;
    font-size: 25px;
}


 .son-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
 }
.son-2{
    display: flex;
    gap: 20px;

}
.son-2-1{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-2{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-3{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-4{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-child{
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.644);
}

/* father-3 section style */
.father-3{
    font-family: Fira Sans;
}
.son-3-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}
.son-3-2{
    /* border: 2px solid red; */
    display: flex;
    gap: 30px;
}
.son-3-0{
    font-size: 23px;
    margin-bottom: 20px;
    color: rgba(17, 16, 16, 0.623);
}
.son-3-3{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.son-3-4{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.son-3-5{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.title{
    padding: 9px 0px;
    color: rgba(0, 0, 0, 0.733);
}
.learn-more-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}
.learn-more-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}
.learn-more-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}

.son-3-6{
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    font-size: 20px;
}
.son-3-6-1{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    padding: 20px 0px;
    color: rgba(128, 128, 128, 0.836);
}
.son-3-6-1-0{
    color: rgba(128, 128, 128, 0.836);
    margin-top: 4px;
}
.yunus{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.678);
}

/* table section style */

.son-4-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}

td{
    border: 1px solid rgba(0, 0, 0, 0.404);
    font-size: 35px;
    padding: 20px;
    justify-content: space-between
}
.son-4-2{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 45px 79px 45px 79px;
    padding-right: 0px;
    /* overflow-x: hidden; */
}

.son-4-3{
    border-collapse: collapse;
    text-align: center;
    justify-content: space-between
}
.son-4-4{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
.son-4-5{
    font-size: 30px;
    padding: 10px;
    background: rgb(198, 228, 214);
    border-radius: 4px;
    border-color: gray;
    border-bottom-color: gray;
}


/* satelite section style */

.son-5-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}
.son-5-2{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 48px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    /* margin-bottom: 20px; */
}
.son-5-2-1{
    border-radius: 16px;
    /* gap: 30px; */
}
.son-5-2-2{
    color: rgba(0, 0, 0, 0.733);
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 6px;
}
.son-5-2-3{
    margin-bottom: 9px;
}
.son-5-2-4{
    margin-bottom: 9px;
    margin-top: 4px;
    color: rgba(128, 128, 128, 0.836);
    font-size: 23px;
}
.son-5-2-5{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    color: white;
    margin-top: 48px;
    border: none;
    font-size: 20px;
}
.son-5-2-6{
    color: rgba(128, 128, 128, 0.897);
    font-size: 25px;
}
.son-5-3{
    display: flex;
    justify-content: space-between;
    text-align: left;
    display: flex;
    gap: 50px;
    padding: 48px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* taka section style */
.son-6-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}
.son-6-2{
    font-size: 23px;
    margin-bottom: 20px;
    color: rgba(17, 16, 16, 0.623);
    text-align: center;
    padding: 0px 60px 0px 60px;
}












/* footer-section style */
#footer-section{
    /* display: contents; */
    text-align: center;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    padding: 60px 160px 60px 160px;
    /* border-bottom: ; */
}
.footer-title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
    padding: 0px 0px 30px 0px;
}
.footer-icon{
    padding: 30px 0px 0px 0px;
}