*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    /* background-color: rgba(172, 170, 170, 0.219); */
}
body{
    margin: auto;
    width: 85vw;
    background-color: rgba(121, 117, 117, 0.164);
}
.peragraph{
    color: rgba(128, 128, 128, 0.699);
}
#navber{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    align-items: center;
    font-size: 35px;
}
.button{
    padding: 10px 20px;
    margin: 30px;
    border-radius: 5px;
    border-color: rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    background-color: white;
    font-size: 35px;
}
/* header section style */
#hero{
    display: flex;
    font-family: Fira Sans;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: space-between;
    padding: 40px 40px;
}
.son-father{
    text-align: start;
    font-size: 60px;
    gap: 10px;
    padding: 40px
}

.son-1-3{
    border-radius: 4px;
    background: rgb(0, 106, 80);
    padding: 10px 20px;
    color: white;
    border: 0px;
    font-size: 25px;
}

/* pillars section style */
/* #father-2{
    margin-top: 70px;
    margin-bottom: 50px;
    border: 2px solid red;
} */
 /* father-2 section style */
 .son-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
 }
.son-2{
    display: flex;
    gap: 20px;

}
.son-2-1{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-2{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-3{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-2-4{
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255)
}
.son-child{
    padding-top: 8px;
    padding-bottom: 8px;
}

/* father-3 section style */
.father-3{
    font-family: Fira Sans;
}
.son-3-1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}
.son-3-2{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
}
.son-3-0{
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(17, 16, 16, 0.623);
}
.son-3-3{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.son-3-4{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.son-3-5{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 44px;
    /* border: 1px solid blue; */
    font-size: 20px;
}
.title{
    padding: 9px 0px;
}
.learn-more-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}
.learn-more-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}
.learn-more-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    border: none;
    color: white;
}